// Add cart
.btn-add-cart {

    .icon {
        position: relative;
        display: inline-block;
        padding-right: 1rem;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: .25rem;
            bottom: 0;
            width: 1px;
            height: 100%;
            background-color: rgba(black, .15);
        }
    }
}