@font-face {
    font-family: "DB HelvethaicaMon X";
    src: url('../fonts/DB\ HelvethaicaMon\ X\ v3.2.ttf');
    font-weight: 400;
}

@font-face {
    font-family: "DB HelvethaicaMon X";
    src: url('../fonts/DB\ HelvethaicaMon\ X\ Med\ v3.2.ttf');
    font-weight: 500;
}

@font-face {
    font-family: "DB HelvethaicaMon X";
    src: url('../fonts/DB\ HelvethaicaMon\ X\ Bd\ v3.2.ttf');
    font-weight: 600;
}