header {
    >.alert {
        background-color: rgba(black, .25);
        padding: .5rem 0;
        border-radius: 0;
    }

    >.container-fluid {
        max-width: 1440px;
    }

    .logo {
        display: block;
        height: 50px;
        width: auto;
        object-fit: contain;

        @include media-breakpoint-up(lg) {
            height: 70px;
        }
    }

    .btn-group {
        .btn {
            background-color: transparent;
            border-radius: 5px;
            color: $white;
            border-color: $dark;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                border-right-width: 0;
            }

            &:focus {
                box-shadow: none;
            }

            &.active {
                background-color: $white;
                color: $deepred;
                border-color: $white;
                border-radius: 5px !important;

                svg path {
                    fill: $deepred;
                }
            }
        }
    }

    .btn-group {
        .btn {
            position: relative;

            &.active {
                &:after {
                    content: '\f3c5';
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    color: $green;
                    margin-left: 0.25rem;
                }
            }
        }
    }

    .nav {
        flex-wrap: nowrap;

        &-scroller {
            >.container {
                position: relative;
                z-index: 2;
                height: 82px;
                overflow-y: hidden;
            }
        }

        &-link {
            color: $body-color;
            white-space: nowrap;
            padding: 0.25rem .5rem;

            @include hover {
                color: $red;
            }

            &-icon {
                display: block;
                margin-bottom: 0.25rem;

                img {
                    height: 40px;
                    width: auto;
                    object-fit: contain;
                }
            }
        }

        &-lang {
            .nav {
                &-link {
                    color: $white;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &.active {
                        color: $red;
                        background-color: $white;
                        border-radius: 10rem;
                    }
                }
            }
        }
    }

    .dropdown-user {
        .dropdown {
            &-toggle {
                &::after {
                    content: '\f107';
                    font-family: "Font Awesome 5 Pro";
                    font-weight: 900;
                    appearance: none;
                    border: none;
                    vertical-align: middle;
                }
            }
        }
    }

    .item-cart {
        display: block;
        width: 60px;
        height: 43px;
        background: url('../images/duck.png') no-repeat center center;
        background-size: contain;
        position: relative;
        margin: 0 auto;

        span {
            position: absolute;
            top: 12px;
            left: 22px;

        }
    }

    @include media-breakpoint-up(lg) {
        .nav {
            &-scroller {
                >.container {
                    height: 110px;
                }
            }

            &-link {
                padding: .5rem 1rem;

                &-icon {
                    img {
                        height: 60px;
                    }
                }
            }
        }
    }
}

.sticky-wrapper {
    z-index: $zindex-fixed;
    position: relative;
}