header {
    >.alert {
        background-color: rgba(black, .25);
        padding: .5rem 0;
        border-radius: 0;
    }

    >.container-fluid {
        max-width: 1440px;
    }

    .logo {
        img {
            height: 75px;
            width: auto;
            object-fit: contain;
        }
    }

    .nav {
        flex-wrap: nowrap;

        &-scroller {
            >.container {
                position: relative;
                z-index: 2;
                height: 82px;
                overflow-y: hidden;
            }
        }

        &-link {
            color: $body-color;
            white-space: nowrap;
            padding: 0.25rem .5rem;

            @include hover {
                color: $red;
            }

            &-icon {
                display: block;
                margin-bottom: 0.25rem;

                img {
                    height: 40px;
                    width: auto;
                    object-fit: contain;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        .nav {
            &-scroller {
                >.container {
                    height: 110px;
                }
            }

            &-link {
                padding: .5rem 1rem;

                &-icon {
                    img {
                        height: 60px;
                    }
                }
            }
        }
    }
}

.sticky-wrapper {
    z-index: $zindex-fixed;
    position: relative;
}